.navbar__p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.navbar__button {
    padding: 0.5rem 1rem;
    color: #ffffff;
    font-family: var(--font-family);
    font-weight: 100;
    left: 1153px;
    top: 55px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 25px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu_container p {
    margin: 1rem 0;
}



